.viewbody {
    width: 600px;
    margin: 0 auto;
    top: 50px;
}
table {
    width: 100%;
}
tr {
    cursor: pointer;
}
td {
    padding: 2px;
}
.delete {
    height: 25px;
    width: 25px;
}
.deleteCell {
    padding: 3px !important;
}